:root {
    --timerduration: 0s;
}

body {
    margin: 0;
    background: #333337;
    min-height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 32px;
}

* {
    color: #F2F2F2;
}

.black-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
}

.black-end {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
}

.hide-end {
    display: none;
}

.begin {
    transition: .4s;
}

.begin:hover {
    box-shadow: #1e71d0 0px 5px 10px;
    transform: translateY(-10px);
}

.choice {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 600px;
    flex-wrap: wrap;
    background: #333337;
    padding: 12px 32px;
    border-radius: 8px;
    position: relative;
}

@property --angle {
    syntax: '<angle>';
    initial-value: -720deg;
    inherits: false;
}

.choice::after {
    content: "";
    position: absolute;
    background-image: conic-gradient(transparent var(--angle), #1e71d0 0deg);
    padding: 3px;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: inherit;
}

.choice.timeranim::after {
    animation: timerAnim var(--timerduration) forwards ease-out;
}

.choice::before {
    content: "";
    position: absolute;
    padding: 3px;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #4d4d51;
    border-radius: inherit;
}

@keyframes timerAnim {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}

button {
    background: #1e71d0;
    border: none;
    padding: 16px 64px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}