body {
    margin: 0;
    background: #333337;
    font-family: Helvetica;
}

* {
    color: #F2F2F2;
}

header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0 30px;
    margin-left: 0;
    margin-right: 0;
    height: 100px;
    border-bottom: solid 2px #F2F2F2;
}

h1{
    font-size: 28px;
}

main {
    display: flex;
}

.menu_wiki {
    width: 350px;
    background: #2F2A2A;
    display: flex;
    flex-direction: column;
    padding-bottom: 0px;
    border-right: solid 2px #F2F2F2;
    min-height: 100vh;
    overflow-y: auto;    
}

.menu_liste {
    display: flex;
    margin: 50px 30px 10px 30px;
    flex-direction: column;
    justify-content: center;
}

.element_liste {
    padding: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    transition: 0.2s ease;
    align-items: center;
}

.element_liste:hover {
    background: #5863FF20;
}

.element_liste_open {
    background: #5863FF !important;
    ;
}

.element_liste span {
    transition: 0.2s ease;
    display: inline-block;
}

span svg {
    width: 30px;
}

.open_span {
    transform-origin: center;
    transform: rotate(90deg);
}

.element_sous_liste {
    margin-left: 30px;
    display: none;
    flex-direction: column;
    gap: 20px;
}

.element_sous_liste li {
    position: relative;
    transition: all 0.2s ease;
    padding-bottom: 5px;
    cursor: pointer;
}

.element_sous_liste li::after {
    content: "";
    background: #5863FF;
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: width 0.4s ease;
}

.element_sous_liste li:hover::after {
    width: 100%;
}

.right_main {
    flex: 1;
    margin: 40px 30px 100px 30px;
}

.element_sous_liste_open {
    content: "";
    background: #5863FF;
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: width 0.4s ease;
}

.right_main section {
    display: none;
}

.right_main b {
    font-size: 35px;
    display: block;
    margin-bottom: 50px;
}

.right_main section p {
    margin-left: 30px;
    width: 100vh;
}

.right_main section img {
    width: 100%;
    margin-left: 30px;
}

.wiki-btn {
    background-color: #4a5568; 
    color: #F2F2F2;
    font-weight: bold;
    padding: 10px 16px;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    font-family: Helvetica, sans-serif;
    transition: background-color 0.2s ease; 
}

.wiki-btn:hover {
    background-color: #5863FF; 
}

.wiki-btn-link {
    text-decoration: none;
    display: inline-block;
    text-align: center;
}